@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');


@import url(css/header.css);
@import url(css/initial.css);
@import url(css/about.css);
@import url(css/services.css);

:root {
    --primary: #1d1d1d;
    --secundary: #cbba47;
    --terciary: #fff;
    --quaternary: #ccc;
}

 html{
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Sora", sans-serif;
    background-color: var(--primary);
    height: 100vh;
    width: 100%;
}

img {
    width: 100%;
}

h1 {
    font-family: 'Bebas Neue';
    letter-spacing: 5px;
    font-size: 4.3rem;
    text-align: center;
    color: var(--secundary);
}

a {
    cursor: pointer;
    text-decoration: none;
    color: var(--secundary);
}

i {
    font-size: 3rem
}
